<!doctype html>
<h1>Upload CSV File</h1>
<h3>Upload a CSV file to add Courses to Instructors</h3>
<div class="fileUpload btn btn-primary" *ngIf="isUploadBtn">
  <span>Upload</span>
  <input type="file" id="btnUpload" value="Upload" (change)="fileChange($event)" class="upload" accept=".csv" hidden/>
  <br>
</div>
<br />


<input type="button" class="fileUpload upload btn btn-primary" id="printPathBtn" value="Preview CSV Data" (click)="getCSVObject()" /><br /><br />

<div class="container">
  <h6>(Proper CSV format for Uploading)</h6>
<table class="table">
  <tr>
    <th>Course Deptartment</th>
    <th>Course ID</th>
    <th>Course Section</th>
    <th>Course Year</th>
    <th>Course Term</th>
    <th>Course Instructor</th>
  </tr>
  <tbody *ngFor="let course of courseInfo">
    <tr>
      <td>{{course.courseDept}}</td>
      <td>{{course.courseID}}</td>
      <td>{{course.courseSection}}</td>
      <td>{{course.courseYear}}</td>
      <td>{{course.courseTerm}}</td>
      <td>{{course.courseInstructor}}</td>
    </tr>
  </tbody>
</table>
</div>

